<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>company and Recruitment information</title>

  <!--s1 assets multi-menu ,about us ,running number-->
  <!-- Fav/static/assets_g/img -->
  <link href="/static/assets_g/img/" rel="icon">
  <link href="/static/assets_g/img/dypiemrlogo.jpeg" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->

  <link href="/static/assets_g/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/assets_g/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/static/assets_g/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/static/assets_g/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/static/assets_g/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">


  <!-- Template Main CSS File -->
  <link href="/static/assets_g/css/style.css" rel="stylesheet">

</head>

<body>
  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="/static/assets_g/img/hero.jpg" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="index1.html">Ganesh Bhosale</a></h1>

      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="{% url 'student_home' %}" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
          <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
          
          <li><a href="{% url 'companies1' %}"><i class="bx bx-envelope"></i> <span>Company and Recruitment <br>Information</span></a></li>
          <li><a href="{% url 'courses' %}"><i class="bi bi-book-fill"></i><span>Courses</span></a></li>
          <li><a href="#contact" class="nav-link scrollto"><i class="bi bi-person-lines-fill"></i><span>Contact</span></a></li>
          <li><a href="{% url 'logout' %}"><i class="bi bi-box-arrow-right"></i><span>Logout</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->


  <main id="main">
    <div class="col-md-12" style="padding-left: 8%;">
      <section id="about" class="about">
        <div class="container">

          <div class="section-title">
            <h2>Company Section</h2>

          </div>
          <marquee behavior="scrolling" direction="up" onmouseover="this.stop();" onmouseout="this.start();" >
            <div class="row" style="background-color: white;">
              <div class="col-lg-4"  style="align-items: center;" >
                <img src="/static/assets_g/img/google1.png"  width="200px"height="150px" >
              </div>
              <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
                <h3>Google</h3>
                <p class="fst-italic">
                </p>
                <div class="row">
  
                  <ul>
                    <li><i class="bi bi-chevron-right"></i> <strong>Post:</strong> <span>Software Developer</span></li>
                    <li><i class="bi bi-chevron-right"></i> <strong>Salary:</strong> <span>50L</span></li>
                  </ul>
  
                </div>
              </div>
            </div>
  
            <br>
            <br>
            <br>
  
            <div class="row" style="background-color: white;">
              <div class="col-lg-4" data-aos="fade-right">
                <img src="/static/assets_g/img/capgemini.png" style="height:150px;width:250px" alt="">
              </div>
              <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
                <h3>Capgemini</h3>
                <p class="fst-italic">
                </p>
                <div class="row">
  
                  <ul>
                    <li><i class="bi bi-chevron-right"></i> <strong>Post:</strong> <span>Tester</span></li>
                    <li><i class="bi bi-chevron-right"></i> <strong>Salary:</strong> <span>10L</span></li>
                  </ul>
  
                </div>
              </div>
            </div>
            <br>
            <br>
            <br>
  
            <div class="row" style="background-color: white;">
              <div class="col-lg-4" data-aos="fade-right">
                <img src="/static/assets_g/img/wipro.png" alt="wipro" height="150px" width="200px">
              </div>
              <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
                <h3>Wipro</h3>
                <p>
                </p>
                <div class="row">
  
                  <ul>
                    <li><i class="bi bi-chevron-right"></i> <strong>Post:</strong> <span>Project Manager</span></li>
                    <li><i class="bi bi-chevron-right"></i> <strong>Salary:</strong> <span>30L</span></li>
                  </ul>
  
                </div>
              </div>
            </div>

          </marquee>

      </section>
    </div><!-- End About Section -->

    <div class="col-md-12" style="padding-left: 8%;">
      <!-- ======= Features Section ======= -->
      <section id="features" class="features">
        <div class="container-fixed">

          <div data-aos="fade-up" class="section-title">
            <h2>They Trusted Us</h2>

          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="flexbox">
                <div class="abc">
                  <img src="/static/assets_g/img/accenture.png" class="abc-img" alt="">
                  <h3>Accenture</h3>
                </div>
                <div class="abc">
                  <img src="/static/assets_g/img/amazon.png " class="abc-img" alt="">
                  <h3>Amazon</h3>
                </div>
                <div class="abc">
                  <img src="/static/assets_g/img/capgemini.png " class="abc-img" alt="">
                  <h3>Capgemini</h3>
                </div>
                <div class="abc">
                  <img src="/static/assets_g/img/cognizant.jpeg " class="abc-img" alt="">
                  <h3> Cognizant</h3>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="flexbox">
                <div class="abc">
                  <img src="/static/assets_g/img/Deshaw.png " class="abc-img" alt="">
                  <h3> Deshaw</h3>
                </div>
                <div class="abc">
                  <img src="/static/assets_g/img/facebook.png" class="abc-img" alt="">
                  <h3> facebook</h3>
                </div>
                <div class="abc">
                  <img src="/static/assets_g/img/godrej.png" class="abc-img" alt="">
                  <h3>Godrej</h3>
                </div>
                <div class="abc">
                  <img src="/static/assets_g/img/google1.png" class="abc-img" alt="">
                  <h3>Google</h3>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="flexbox">
                <div class="abc">
                  <img src="/static/assets_g/img/ibm.png " class="abc-img" alt="">
                  <h3>IBM</h3>
                </div>
                <div class="abc">
                  <img src="/static/assets_g/img/infosys.png" class="abc-img" alt="">
                  <h3> Infosys</h3>
                </div>
                <div class="abc">
                  <img src="/static/assets_g/img/intel.png" class="abc-img" alt="">
                  <h3>Intel</h3>
                </div>
                <div class="abc">
                  <img src="/static/assets_g/img/microsoft.png" class="abc-img" alt="">
                  <h3>Microsoft</h3>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="flexbox">
                <div class="abc">
                  <img src="/static/assets_g/img/Tata_logo.svg.png " class="abc-img" alt="">
                  <h3>Tata</h3>
                </div>
                <div class="abc">
                  <img src="/static/assets_g/img/twitter.png " class="abc-img" alt="">
                  <h3>Twitter</h3>
                </div>
                <div class="abc">
                  <img src="/static/assets_g/img/veritas.png " class="abc-img" alt="">
                  <h3>Veritas</h3>
                </div>
                <div class="abc">
                  <img src="/static/assets_g/img/mahindra.png " class="abc-img" alt="">
                  <h3>Mahindra</h3>
                </div>
              </div>
            </div>
          </div>
        </div>    
      </section>

    </div><!-- End Features Section -->





  </main>

  <!--s1asset multi-->
  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>



  <!-- Template Main JS File -->
  <script src="/static/assets_g/js/main.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </div>


</body>

</html>