{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Login page</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/assets_mh/img/loginfevicon.png" rel="icon">
  <link href="static/assets_mh/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/assets_mh/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="static/assets_mh/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets_mh/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/assets_mh/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/assets_mh/css/style.css" rel="stylesheet">

</head>

<body>

  <main>
    <div class="container">

      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

              <div class="d-flex justify-content-center py-4">
                <a style="display: flex;">
                  <img src="static/assets_mh/img/DYPIEMR-Logo.jpg" height="60px" />
                  <span class="d-none d-lg-block" style="margin-right: 6px;font-size: 26px;font-weight: 700;color: #012970; font-family: 'Nunito', sans-serif;padding-top: 6px;">DYP Login</span>
                </a>
              </div><!-- End Logo -->

              <div class="card mb-3">

                <div class="card-body">

                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Company Login</h5>
                    <p class="text-center small">Enter your username & password to login</p>
                  </div>
                  {% if messages %}
                   {% for message in messages %}
                    {% if message.tags == 'error' %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert" style="background-color:rgb(248, 49, 49);color: white;border-radius: 2 rem;">
                      {{message}}
                      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endif %}
                   {% endfor %}
                  {% endif %}
                  <form action="{% url 'doLogin' %}" method="post">
                    {% csrf_token %}
                    <div class="col-12">
                      <div class="form-group">
                        <input type="text" name="email" class="form-control" placeholder="Email">
                      </div>
                    </div>
                    <br>

                    <div class="col-12">
                      <div class="form-group">
                       <input type="password" name="password" class="form-control" placeholder="Password">
                      </div>
                    </div>
                    <br>
                    <div class="col-12">
                      <button class="btn btn-primary btn-block" type="submit">Login</button>
                    </div>
                  </form>

                </div>
              </div>
            </div>
          </div>
        </div>

      </section>

    </div>
  </main><!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="static/assets_mh/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


  <!-- Template Main JS File -->
  <script src="static/assets_mh/js/main.js"></script>

</body>

</html>